body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea{
	width: 40%;
	height: 75px;
	margin: 10px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

[type=text] 
{
  display: block;
  margin: 10px;
  width: 40%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}


html, body {
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150;
    background-color: #bfcfec;
    
}

.leftimage1 {
  width: 50%;
  height: 100%;
  float: left;
}


.rightimage1 {
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
 
}
.wrapper {
    position:absolute;
    top: 151px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: fuchsia;
}
.inner-wrapper,
.center.pane .inner {
    display: table;
    width: 100%;
    height: 100%;
}
.pane {
    display: table-cell;
}
.left.pane {
    width: 15%;
   background-color: #bdecb6; 
}
.center.pane {
    width: 70%;
    background-color: lightblue;
}
.right.pane {
    width: 15%;
    background-color: #b19cd9;
}


#map {
      height: 100%;
      weight: 100%;
}


ul.threat-checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
  font-size: 10px;
} 

ul.action-checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
  font-size: 10px;
} 

ul.layers-checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
  font-size: 10px;
}

ul.threat-checkbox li input { 
  margin-right: .5em; 
} 

ul.threat-checkbox li { 
  border: 1px transparent solid; 
  display:inline-block;
  width:20em;
} 

ul.threat-checkbox li label { 
  margin-left: ; 
} 

.vrthreat-panel1
{
    width:100%;
    height:50%;
  font-size: 10px;
}

.vrthreat-panel2
{
    width:100%;
    height:50%;

  font-size: 10px;
}

.threat-panel1
{
    background-color:#fff;
    width:50%;
    height:60%;
    float:left; 
}

.threat-panel2
{
    background-color:#fff;
    width:50%;
    height:60%;
    float:right; 
}

.top-panel
{

}

.top-panel
{        
    background-color:#ccc;
    width:100%;
    height:0%;
    float:top;        
}
.tab-panel
{        
    background-color:Gray;
    width:100%;
    height:60%;
    float:bottom;
}
.right-panel
{        
    background-color:Gray;
    width:100%;
    height:40%;
    float:bottom;
}
.bottom-panel
{        
    background-color:Gray;
    width:90%;
    top:50%;
    height:50%;
    float:right;
}