body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.left-panel
{        
    background-color:#ccc;
    width:10%;
    height:100%;
    float:left;        
}
.right-panel
{        
    background-color:Gray;
    width:90%;
    height:50%;
    float:right;
}
.bottom-panel
{        
    background-color:Gray;
    width:90%;
    top:50%;
    height:50%;
    float:right;
}