<html>
  <title>Shorebird Maps</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ6LMGS6ebrYR_ABSnMfudwc7sgwgoTWg"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
       <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  

<header>

 <div id="feedback-container">
This is a beta version of this map. Please provide <a href="https://www.surveymonkey.com/r/FJ9TL86">feedback and let us know what you think!</a></div>

  <div id="header-container">
      <h1 id="title">Shorebird Conservation Map</h1>
     <nav>
      
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary" value="Input Button" onclick="location.href='about'">Home</button>
      <button type="button" class="btn btn-primary" value="Input Button" onClick="location.href='mapview'">View records</button>
           <button type="button" class="btn btn-primary" value="Input Button" onClick="location.href='mapview?view=action'">Log an action</button>
            <button type="button" class="btn btn-primary" value="Input Button" onClick="location.href='mapview?view=threat'">Log a threat</button>
    </div>
        
      </nav>
  </div>
   </header>

<body>

 <img src="images/Red-necked-Stint3.jpg" class="img-responsive"alt="Red-necked-Stint-ShorebirdConservationMap"> 
    <h2><span>Help protect our shorebirds</span></h2>

   
    <div class="container-fluid">    
     <div class="row">
     
         <div class="col-sm-12" style="font-size:2opx">
    
     <br>Over the past 30 years, populations of <b>many shorebird species have declined by up to 85%</b>. Important shorebird habitat contents to be lost and degraded around Australia to coastal developments and recreational use.   <a href="mapview" class="btn btn-primary btn-lg">View threats on map</a>
           </div>



     
    <div class="col-sm-12">
    <h4>What you can do:</h4>
    </div>
      <div class="col-sm-6"> Threats to shorebirds include industrial and residential developments, invasive species, pollution, and recreational disturbance. <b>If you have observed these threats please log them on our map</b>. This will help us identify sites requiring urgent conservation action.
      <br>
        <br>
    <a href="mapview?view=threat" class="btn btn-danger">Log a threat</a>
    <br>
        <br>
    </div>
       <div class="col-sm-6">We also want to hear about positive shorebird stories - sites that have been protected, community projects to restore shorebird habitat, and events and education activities. <b>Share your love for shorebirds by logging conservation actions!<b>
      <br>
        <br>
    <a href="mapview?view=action" class="btn btn-danger">Log an action</a></b></b>
    <br>
        <br>
    </div>
</div>
</div>
</div>

<footer>


<div id="footer-container-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">Shorebirds need your help. Act now to protect the species and places at risk. <a href="http://birdlife.org.au/campaigns/how-you-can-help" class="btn btn-default btn-sm">Get involved</a> or <a href="http://www.birdlife.org.au/current-appeal" class="btn btn-default btn-sm">Donate</a> 
        </div>
      </div>
    </div>
 </div>

   <div id="footer-container-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-8"><img src="images/birdlife-australia-logo.png" alt="BirdLife Australis"> <br>Brought to you by <a href="www.birdlife.org.au">BirdLife Australia</a>, the nation’s premier independent bird conservation organisation.</div>
          <div class="col-sm-4">
            <h4>Follow the flock</h4>
            <ul class="soc">
              <li>
                <a class="soc-twitter" href="https://twitter.com/BirdlifeOz"></a>
              </li>
              <li>
                <a class="soc-facebook" href="https://www.facebook.com/BirdLifeAustralia"></a>
              </li>
              <li>
                <a class="soc-google" href="https://plus.google.com/112350676933876368379/posts"></a>
              </li>
              <li>
                <a class="soc-youtube" href="https://www.youtube.com/channel/UCTKLS4Otm3PmpTBGv3nEC6A"></a>
              </li>
              <li>
                <a class="soc-instagram soc-icon-last" href="https://www.instagram.com/birdlifeoz/"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div id="footer-container-3">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">Site by <a href="www.ecocene.com.au">Ecocene Solutions</a></div>
          </div>
        </div>

</div>

      </footer>
  </div>


</body>
</html> 	