<html>
  <title>Shorebird Maps</title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ6LMGS6ebrYR_ABSnMfudwc7sgwgoTWg"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

      var theMap;
      var thePoints;
      var theMarker;

      var pageInfo;
      var formattedAddr;
      var infowindow;

      function initialize() {
 	      
        var mapOptions = {
          zoom: 4,
          center: {lat: -28, lng: 137.883},
    		  mapTypeId: google.maps.MapTypeId.TERRAIN
  		  };

        theMap = new google.maps.Map(document.getElementById('map'), mapOptions);
        theMap.data.setStyle(function(feature) {
          return {icon:feature.getProperty('icon')};
        });
        thePoints = <%- points %>;
        pageInfo = <%- pageInfo %>;
        var infowindow = new google.maps.InfoWindow();

        theMap.data.addListener('click', function(event) {
          if(event.feature == null) {
            infowindow.close();
            return;
          }  
          var myHTML = event.feature.getProperty("type") + "<p>" + "Type: " +  event.feature.getProperty("typetext") + "<p>" + "Comment: " +  event.feature.getProperty("comment");

          infowindow.setContent("<div style='width:150px; text-align: center;'>" + myHTML + "</div>");
          infowindow.setPosition(event.latLng);
          infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
          infowindow.open(theMap);
        });

        buildPage('threat', pageInfo.types);
        buildPage('action', pageInfo.types);
        buildPage('layer', pageInfo.types);

      }

    function buildPage(thename, thearray) {
      var tchk = $('#' + thename + 'typechk');
      var featureType;
      if(thename=="layer"){
        featureType = "Polygon";
      }else{
        featureType = "Point";
      }
      var theList = $('<ul class="' + thename + '-checkbox"></ul>');
      for(var i = 0; i < thearray.length; i++) {
          if(thearray[i].type == thename) {
            var theItem = $('<li></li>');
            theItem.append('<input type="checkbox" onclick=updateJSON(this,"' + featureType + '","' + thearray[i].id + '") + id="' + thename  + i + '" value="' + thearray[i].id + '" /><label for="' + thename + i + '">' + thearray[i].text + '</label>');
            theList.append(theItem);
          }
      }
      tchk.append(theList);      
    }


    google.maps.event.addDomListener(window, 'load', initialize);

    function updateJSON(chkbox, geotype, dbtype) {
      if(chkbox.checked) {
        theMap.data.loadGeoJson('http://10.1.1.8:3000/maps?geotype=' + geotype + '&type='+ dbtype);
      }else{
        var callback=function(feature) {
          
          if(feature.getProperty('typeid') == dbtype || feature.getProperty('letter') == dbtype) {
            theMap.data.remove(feature);
          }
        };
        theMap.data.forEach(callback);
      }
    }
</script>


<body>
  <div class="header">
    <div class="leftimage1">
      <img src="/images/logo2.jpg"/>
      </div>
    <div class="rightimage1">
      <img src="/images/logo1.jpg"/>
    </div>

  </div>
  <div class="wrapper">
    <div class="inner-wrapper">
        <div class="left pane">
      <div id="threat-tab1" class="vrthreat-panel1">
        <p>Threats</p>
      <div id='threattypechk'></div>
      </div>
      <div id="threat-tab2" class="vrthreat-panel2">
        <p>Actions</p>
        <div id='actiontypechk'></div>
        </div>
      </div>
      <div class="center pane" id="map">
      </div>
        <div class="right pane">
        <div id="threat-tab1" class="vrthreat-panel1">
        <p>Layers</p>
        <div id='layertypechk'></div>
        </div>
        </div>
    </div>
</div>
</body>
</html> 	