<html>
  <title>Shorebird Maps</title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ6LMGS6ebrYR_ABSnMfudwc7sgwgoTWg"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

      var theMap;
      var theMarker;

      var pageInfo;
      var formattedAddr;
      var infowindow;
      var yourname;
      var youremail;


      function initialize() {
        
        var mapOptions = {
          zoom: 4,
          center: {lat: -28, lng: 137.883},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        theMap = new google.maps.Map(document.getElementById('map'), mapOptions);
        theMap.data.setStyle(function(feature) {
          return {icon:feature.getProperty('icon')};
        });

        pageInfo = <%- pageInfo %>;
        var infowindow = new google.maps.InfoWindow();

        theMap.data.addListener('click', function(event) {
          if(event.feature == null) {
            infowindow.close();
            return;
          }  
          var myHTML = event.feature.getProperty("type") + "<p>" + "Type: " +  event.feature.getProperty("typetext") + "<p>" + "Comment: " +  event.feature.getProperty("comment");

          infowindow.setContent("<div style='width:150px; text-align: center;'>" + myHTML + "</div>");
          infowindow.setPosition(event.latLng);
          infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
          infowindow.open(theMap);
        });

        doViewRecords();
        //buildPage('threat', pageInfo.types);
        //buildPage('action', pageInfo.types);
        //buildPage('layer', pageInfo.types);

        localStorage.clear();
        yourname = localStorage.getItem('yourname');
        youremail = localStorage.getItem('youremail');

      }

    function buildPage(thename, thearray) {
      var tchk = $('#' + thename + 'typechk');

      var theList = $('<ul class="view-checkbox"></ul>');
      var sa = $('<li></li>');
      sa.append('<input type="checkbox" id="' + thename + 'selectall" /><label for="' + thename + 'selectall">Select All</label>');
      theList.append(sa);
      for(var i = 0; i < thearray.length; i++) {
          if(thearray[i].type == thename) {
            var theItem = $('<li></li>');
            theItem.append('<input type="checkbox" class="' + thename + 'group" onclick=updateJSON(this,"' + thearray[i].id + '") + id="' + thename  + i + '" value="' + thearray[i].id + '" /><label for="' + thename + i + '">' + thearray[i].text + '</label>');
            theList.append(theItem);
          }
      }
      tchk.append(theList);      
    }

    function lookupLocation(){
        var request = new XMLHttpRequest();
        var method = 'GET';
        var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+theMarker.position.lat()+','+theMarker.position.lng()+'&sensor=true';
        var async = true;

        request.open(method, url, async);
        request.onreadystatechange = function(){
          if(request.readyState == 4 && request.status == 200){
            var data = JSON.parse(request.responseText);
            var address = data.results[0];
            formattedAddr = address.formatted_address;
            $("label[id='location']").text('Location: ' + formattedAddr);
          }
        };
        request.send();
    }

  function saveLocation(savetype) {
    yourname = $( '#' + savetype + 'yourname').val();
    youremail = $( '#' + savetype + 'emailaddr').val();

    localStorage.setItem('yourname', yourname);
    localStorage.setItem('youremail', youremail);
    var dt = new Date();   
     var newJSON = {
          "type": "Feature",
          "properties": {
            "type": savetype,
            "typeid": $('#select'+savetype + ' option:selected').val(),
            "typetext": $('#select'+savetype + ' option:selected').text(),
            "comment": $('textarea#' + savetype + 'comment').val(),
            "icon": "images/" + savetype + "marker.png",
            "link": $( '#' + savetype + 'linkaddr').val(),
            "yourname": yourname,
            "youremail": youremail,
            "datesaved":  dt.toJSON()
          },
          "geometry": 
          {
            "type": "Point",
            "coordinates": [theMarker.position.lng(), theMarker.position.lat()]
          }
        }
        $.ajax({
            type: 'POST',
            url: '/',
            data: JSON.stringify(newJSON),
            success: function(data) { alert('data: ' + data); },
            contentType: "application/json",
            dataType: 'json'
        });

        //  alert('Congratulations, your record has been saved!');
      showOverlay(savetype);
        //theMap.data.addGeoJson(newJSON);
    }
    function findMe() {
      $("#imgoverlay").show();
      
       if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            theMarker.setPosition(pos);      
            theMap.setCenter(pos);
            theMap.setZoom(13);
            lookupLocation();
                  $("#imgoverlay").hide();
         }, function() {
                $("#imgoverlay").hide();
          });
      }
    }


    function buildSelector(theselector, thename, thearray) {
      for(var i = 0; i < thearray.length; i++) {
          if(thearray[i].type == thename) {
            theselector.append($('<option>', {
                value: thearray[i].id,
                text: thearray[i].text
            }));
          }
      } 
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function updateJSON(chkbox, dbtype) {
      if(chkbox.checked) {
        theMap.data.loadGeoJson('http://10.1.1.9:3000/maps?type='+ dbtype);
      }else{
        var callback=function(feature) {
          
          if(feature.getProperty('typeid') == dbtype) {
            theMap.data.remove(feature);
          }
        };
        theMap.data.forEach(callback);
      }
    }

    function addMarker() {
      if(theMarker == null) {
        theMarker = new google.maps.Marker({
          map: theMap,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: {lat: -28.327, lng: 137.067},
          icon: 'images/marker.png'
        });
      } else {
        theMarker.setMap(theMap);
      }
      theMarker.addListener('click', toggleBounce);
      theMarker.addListener('dragend',lookupLocation);
    }

    function toggleBounce() {
      if (theMarker.getAnimation() !== null) {
        theMarker.setAnimation(null);
      } else {
        theMarker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

    function removeAll() {
      var callback=function(feature) {
        theMap.data.remove(feature);
      };
      theMap.data.forEach(callback);
    }

   function removeByType(theType) {
      var callback=function(feature) {
        if(feature.getProperty('type')== theType || (theType=='layer' && feature.getGeometry().getType() == 'Polygon')) {
          theMap.data.remove(feature);
        }
      };
      theMap.data.forEach(callback);
    }

    function resetPane() {
      if($("#accordion").length) {
          $("#accordion").accordion("destroy");    // Removes the accordion bits
          $("#accordion").empty();
          $("#accordion").remove(); 
        }

      if($("#threatpane").length) {
        $("#threatpane").empty();
        $('#threatpane').remove();
      }

      if($("#actionpane").length) {
        $("#actionpane").empty();
        $('#actionpane').remove();
      }


    }

    function doViewRecords() {


      resetPane();

        if(theMarker != null) {
          theMarker.setMap(null);
        }

      var pos = {lat: -28, lng: 137.883};
      theMap.setCenter(pos);
      theMap.setZoom(4);

      var newdiv = $("<div id='accordion' class='accordion'><div>");
      newdiv.appendTo('#leftpane');

      $('#accordion').append('<div><h3>Threats</h3><div id="threattypechk"></div></div><div><h3>Actions</h3><div id="actiontypechk"></div></div><div><h3>Layers</h3><div id="layertypechk"</div></div>');
      $( "#accordion" ).accordion({
        header: "> div > h3",
        collapsible: true,
        active: false,
        autoHeight: true,
        heightStyle: "content" 
      });
     
      buildPage('threat', pageInfo.types);
      buildPage('action', pageInfo.types);
      buildPage('layer', pageInfo.types);      
      $( "#accordion" ).accordion("option","active",0);
      current = "R";
    }


    function showOverlay(savetype) {
      var overlaydiv = $('<div id="overlay" class="overlay1"><div>');
      overlaydiv.append("<h3>Congratulations, your record has been saved!</h3><p>");
      overlaydiv.append("<h4>Please share with your social networks:<h4><p>");

      

      var networks = ['<a class="soc-twitter" href="#"></a>', 
                      '<a class="soc-facebook" href="#"></a>', 
                      '<a class="soc-google" href="#"></a>',
                      '<a class="soc-youtube" href="#"></a>',
                      '<a class="soc-instagram soc-icon-last" href="#"></a>'
                      ];
      var soclist = $('<ul class="soc"></ul>');
      for(var n = 0; n < networks.length; ++n) {
        var sa = $('<li></li>');
        sa.append(networks[n]);
        soclist.append(sa);

      }
      overlaydiv.append(soclist);

      overlaydiv.append("<h4>Or find out how else you can take actions to help Australia’s birds<h4><p>");




      overlaydiv.appendTo(document.body)

      overlaydiv.click(function() {
        $("#overlay").empty();
        $('#overlay').remove();

      });
    }

    function doViewThreats(threattype) {

      addMarker();
      resetPane();
      removeAll()

      var newdiv = $('<div id="' + threattype + 'pane" class=addthreat"></div');
      newdiv.appendTo('#leftpane');

      newdiv.append('<h4>Your location</h4><p>');


      newdiv.append('<img id="imgoverlay" src="images/spin.gif" /><p>');
      $("#imgoverlay").hide();
     
      var r=$('<input/>').attr({
          type: "button",
          id: "find",
          value: 'Find your location',
          onclick: 'findMe()',
          class: 'btn-danger'
      });
      newdiv.append(r);

      var l =$('<label>/>').attr({
        id: "location",
      });
      l.text('Or drag the marker on the map. Zoom in and out using your mouse or +/- the buttons on themap.');
      newdiv.append(l);
      newdiv.append("<p><h4>Details</h4>Select the threat type:");

      var selector = $("<select id='select" + threattype + "' class=selectorclass></select>");
      buildSelector(selector, threattype, pageInfo.types);
      newdiv.append(selector);

      newdiv.append('<p><p><label>Please let us know a bit more about your observation (optional)<br><textarea name="Description" id="' + threattype + 'comment" value="" rows="2" cols="400" id="desc"></textarea></label></p>');


      newdiv.append('<p><label>Add a link here for further details (optional)<br><input name="linkddr" id="' + threattype + 'linkaddr" /></p>');


      var str1 = yourname;
      if(yourname == null) {
        str1 = "Please enter your name"
      }

      newdiv.append('<p><label>Your name<br><input name="yourname" id="' + threattype + 'yourname" value="' + str1 + '" ></input><p>');

      var str2 = youremail;
      if(youremail == null) {
        str2 = "Please enter your email"
      }

      newdiv.append('<p><label>Please enter your email<br><input name="emailaddr" id="' + threattype + 'emailaddr" value="' + str2 +  '" ></input></p>');
    
    
      var b=$('<input/>').attr({
          type: "button",
          id: "save",
          value: 'Save ' + threattype,
          onclick: 'saveLocation("'+ threattype + '")',
          class: 'btn-danger'
      });
      newdiv.append(b);
  }

    $(document).on('change','[id$="selectall"]' , function() {
      var theType = this.id.substring(0, this.id.length -9);
      removeByType(theType);
      $("." + theType + "group").prop('checked',false);
      if($(this).prop("checked")) {
        $("." + this.id.substring(0, this.id.length -9) + "group").trigger('click');
      }
    });

   $(function() {
      $( 'input[type="checkbox"]' ).tooltip({
         content: function(event, ui) { return $(this).attr('value'); },
      });
  });



</script>


<body>



  
  <div class="wrapper">
    <div class="inner-wrapper">
    <div id="leftpane" class="left pane">
    </div>
    <div class="center pane" id="map">
      

    </div>
        
</div>



</body>
</html>   