<html>
<title>Round Management</title>
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src= "javascripts/angular.min.js"></script>
  <script src= "javascripts/angular-route.min.js"></script>

	<script type="text/javascript">

    var app =     angular.module('app', ['ngRoute']);
    app.controller('ctrl', ['$scope', '$http', function($scope, $http) {
      $scope.postData = function(jsonData) {
        $http.post('/hole', shot);
      }
    }]);
  
   		function addRound() {
        	var roundname = document.getElementById('roundname');
        	var player = document.getElementById('player');
        	var course = document.getElementById('course');
        
       
        	var newJSON = {
          	    "name": roundname.value,
      			"player": player.value,
      			"course": course.value 	
        	};

        alert(JSON.stringify(newJSON));
  
        $.ajax({
            type: 'POST',
            url: '/addround',
            data: JSON.stringify(newJSON),
            success: function(data, textStatus) {
            	window.location = "/round"
            }
        });
    }
  </script>
  <body>
  
  <div class="left-panel"></div>
  <div class="right-panel" id="map-canvas"></div>
  <div class="bottom-panel" ng-app="app" id="user-input">
    <form name="roundData" ng-controller="ctrl">
      <p><label>Add Round Name<input type="text" name="roundname" value="" id="roundname"/></label></p>
      <p><label>Player<input type="text" name="player" value="" id="player"/></label></p>
      <p><label>Course<input type="text" name="course" value="" id="course"/></label></p>
      <p><input type="button" value="Add Round" onclick="addRound()"></p>
    </form>
  </div>
</body>
</html> 	